/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Стили для контейнера новостей */
.news-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Стили для отображения ошибки */
.error-container {
    display: none;
    color: red;
    text-align: center;
    font-size: 18px;
}

/* Состояние загрузки - имитация контента */
.loading-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.loading-item-elem {
    width: 100px; /* Маленький прямоугольник */
    height: 15px;
    background-color: #ccc; /* Серый цвет для имитации загрузки */
    animation: loading 1.5s infinite ease-in-out;
}

.loading-item-el {
    width: 100%; /* Большой прямоугольник */
    height: 20px;
    background-color: #ccc;
    animation: loading 1.5s infinite ease-in-out;
}

@keyframes loading {
    0% {
        background-color: #ccc;
    }
    50% {
        background-color: #e0e0e0;
    }
    100% {
        background-color: #ccc;
    }
}

/* Сообщение об ошибке */
#errorContainer {
    color: red;
    font-size: 16px;
    text-align: center;
    display: none;
}
